.yellow {
  background-color: yellow;
  height: 300px;
}

.brown {
  background-color: brown;
  height: 300px;
}

.blue {
  background-color: blue;
  height: 300px;
}

.red {
  background-color: red;
  height: 300px;
}

.black {
  background-color: black;
  height: 600px;
}